@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Rubik:wght@300;400&family=Sniglet&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
}
:root{
    --grey-color: #555;
    --money-font: 'Sniglet', cursive;
    --title-font: 'Lobster Two', cursive;
}
a, button{ 
    text-decoration: none;
    font-family: var(--money-font);
    font-size: 1.2rem;
}
h6{
    font-family: var(--money-font);
    letter-spacing: 4px;
}
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsla(0, 0%, 85%,);
    }
    ::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: tomato;
    }
    ::-webkit-scrollbar-thumb:hover{
    background-color: hsla(0, 0%, 65%);
    }
.hamburger{
    outline: 0;
    border: 0;
}
.btn{
    padding: .9rem 1.5rem;
    border-radius: 20px;
}
.header{
    padding-bottom: 5rem;
}
.navbar{
padding-top: 2rem;
}
.nav-link{
    font-size: 1.2rem;
}
.dropdown-content{
    display: none;
    position: absolute;
}
.dropdown-content a:hover{
    color: #333;
}
.dropdown:hover .dropdown-content{
display: block;
}
.navbar-nav{
    margin-right: 1rem;
}
.nav-item{
    padding-right: 1rem;
}
.banner{
padding-top: 10rem;
height: 100vh;
}
.header .row .col-md-7{
padding-block: 8rem;
}
.header .row .col-md-7 p{
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}
.title{
    font-family: var(--title-font);
    font-size: 8vmin;
}
.header .row .col-md-5 img{
    width: 100%;
}

/*Section 1*/
.author{
    padding-bottom: 10rem;
}
.author .col-md-6:last-child{
    position: relative;
}
.panel{
    position: absolute;
    top: 15rem;
    left: -5rem;
    background: #fff;
    text-align: left;
    padding: 5rem 3rem;
    z-index: 1;
    box-shadow: 0px 10px 50px rgb(201, 198, 209);
}

/*Section 2*/
.cover{
    width: 100%;
    height: 40vh;
    background-image: url('/assets/images/team3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10px;
}
.cover .content{
    background: rgba(22, 21, 22, 0.4);
    height: 100%;
    width: 100%;
    padding-top: 3rem;
}
.content h1{
    color: whitesmoke;
    font-family: var(--money-font);
}
.content p {
    max-width: 60%;
    color: #fff;
    margin: 0 auto;
    padding-top: 6rem;
}
.numbers .kare{
    position: relative;
    z-index: 1;
    background: #fff;
    width: 17rem;
    height: 12rem;
    border-radius: 10px;
    box-shadow:  0 2px 10px rgb(163, 154, 154);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 2rem;
}
.numbers{
    margin-top: -2rem;
}
.kare h1{
    color: tomato;
    font-size: 5rem;
    font-family: var(--title-font);
}
.kare p{
    font-family: var(--money-font);
}
.purchase{
    padding-bottom: 10rem;
}
.purchase h1{
    padding-top: 5rem;
    
}
.purchase-text{
color: grey;
padding-bottom: 5rem;
}
.cards .card{
    width: 20rem;
    margin: 2rem;
}
.card-title{
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.pricing{
    margin-top: -2rem;
}

/*Section 3*/

.download{
    height: 70vh;
    background: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.download .col-md-12 h1{
    color: whitesmoke;

}
.download .col-md-12 p {
color: #fff;
max-width: 50%;
margin: 2rem auto;
}
.desktop{
    background: #fff;
    border-radius: 3rem;
    padding: 1rem 1.7rem;
    display: inline-block;
    margin: 1rem;
}
.download-app{
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}
 /*Section 5*/
.customer{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.customer-text{
margin-bottom: 5rem;
}
.customer .card{
    width: 25rem;
    margin: 0 auto;
}

/*Footer*/
.footer{
    background: tomato;
    padding: 5rem 3rem 4rem;
}

.footer input{
border: none;
background: rgb(43, 42, 42);
}
.footer input::placeholder{
    color: white;
}
.social-col i{
    margin-right: .5rem;
}
.social-col i:hover{
    color: whitesmoke;
}

.copy{
    color: rgb(53, 52, 52);
    font-size: 1rem;
}

/*Media query*/
@media screen and (max-width:1200px){
    .header .row .col-md-7{
        padding-block: 2rem;
        }
        .panel{
            top: 3rem;
        }
        .numbers{
            margin-top: -1rem;
        }
        .purchase-text{
            padding-bottom: 2rem;
        }
        .purchase{
            padding-bottom: 5rem;
        }
        .customer .card{
            width: 20rem;
        }
}

@media screen and (max-width:990px){
    body{
        font-size: 1rem;
    }
    .header .row .col-md-7 p{
        font-size: 1rem;
    }
    .title{
        font-size: 3rem;
    }
    .panel{
    padding: 2rem;
    }
    
    
}

@media screen and (max-width:900px){
    .team{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    .customer .carousel-inner{
        width: 20rem;
    }
    .kare:last-child{
        margin-top: 1rem;
    }
}


@media screen and (max-width:760px){
    .header{
        padding-bottom: 2rem;
    }
    .header .row .col-md-5 img{
        width: 80%;
    }
    .author{
        padding-bottom: 8rem;
    }
    .content p{
        max-width: 70%;
    }
    .purchase h1{
        padding-top: 3rem;
    }
    .purchase{
        padding-bottom: 3rem;
    }
    .panel{
        position: inherit;
        left: 0;
    }
    .purchase-text{
        padding-bottom: 0;
    }
    .download{
    height: 80vh;
    }
    .customer-text{
        margin-bottom: 1rem;
    }
    .customer .carousel-inner{
        margin: 0 auto;
    }
    .download .col-md-12 p{
        margin: 1rem auto;
    }
    .numbers{
        margin-top: 3rem;
    }
    .kare{
        margin-bottom: 1rem;
    }
    form{
        margin-bottom: 1rem;
    }
}
@media screen and (max-width:390px){
    .banner{
        padding-top: 8rem;
    }
    .download{
        height: 90vh;
    }
    .download h1{
        font-size: 2rem;
        max-width: 50%;
        margin: 0 auto;
    }
    .desktop{
        padding: .8rem 2rem;
    }
    .desktop i{
        font-size: 2rem;
    }
    .text h3{
        font-size: 1rem;
    }
    .text p{
        font-size: .8rem;
    }
    .customer{
        padding-top: 3rem;
    }
}